@font-face {
    font-family: "Myrlissa";
    src: url('http://localhost:3000/fonts/Myrlissa.otf')
   }
.App
{
    font-family: 'Montserrat';
}

:root {
    --navbar-background : #00a64a;
    --general-background : #cccccc;
    --navbar-size : 50px;
}

.all-pages{
    color: #2a2a2a;
    /*background-color : var(--general-background);*/
    background-image:url(./image/sante-voyage-mains-monde-ciel.jpg);
    background-size:cover;  
}

.navbar
{
    font-family: 'Myrlissa';
    background-color: var(--navbar-background);
    size: var(--navbar-size);
}
.navbar-brand{
    font-size: 3.25rem !important;
}
.nav-link{
    font-size: 1.8rem !important;
}

.card-title
{
    color:orangered
}

.card-img-top
{
    border-radius: 5px;
    
}